{% extends "base.html" %}

{% block content %}

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <br>
        <br>

        <h2>About ExactAbstract</h2>
        <br>

        <p>ExactAbstract is a web application developed by Angelica Rodriguez, John Krasich, and Richard Shomer for
            their client, Jeremy Price, as part of their senior project at Rose-Hulman.

            The application turns research article
            abstracts into a list of 5 keywords that are
            representative of the text. It also links it to other abstracts it could be related to based on these
            keywords.Users can upload files using our file uploader, or insert the text manually. Both methods will show
            the results with the keywords highlighted in the original abstract so that they can be seen in context. The
            users are also given the option to download a JSON file representation of the results. If you are looking
            for a previously uploaded abstract or just researching, you can use our search mechanisms to search for
            abstracts by ID or keyword. </p>
    </div>

</div>

</div>

<script src="/static/js/about_handler.js"></script>
{% endblock %}