<!--FuelUX styling dependencies-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

<link href="//www.fuelcdn.com/fuelux/3.4.0/css/fuelux.min.css" rel="stylesheet">

<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>


<!--Kartik stuff-->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css"/>


<!--Begin Page Content-->
{% extends "base.html" %}

{% block content %}
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <br>
        <br>

        <div class="fuelux">
            <div class="wizard" data-initialize="wizard" id="myWizard">
                <ul class="steps">
                    <li data-step="1" class="active"><span class="badge">1</span>File Upload<span
                            class="chevron"></span>
                    </li>
                    <li data-step="2"><span class="badge">2</span>View Summary<span class="chevron"></span>
                    </li>
                    <li data-step="3"><span class="badge">3</span>Save Summary<span class="chevron"></span>
                    </li>
                </ul>


                <div class="step-content">
                    <div class="step-pane active sample-pane alert" data-step="1">
                        <h4>Upload Your File(s)</h4>
                        <br>

                        <div class="container theme-showcase" role="main">
                            <div class="jumbotron">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="alert alert-info" role="alert">
                                            Select a file to upload. To upload multiple files, click "Browse" and hold
                                            the control key down while selecting them.
                                        </div>
                                        <center>
                                                 <div class="loader" id="myLoader" data-initialize="loader"></div>
                                            </center>
                                        <form id="uploadform" method=post
                                              enctype=multipart/form-data>
                                            <input id="input-700" name="file[]" class="file"
                                                   type="file" multiple/>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="step-pane sample-pane  alert" data-step="2">
                        <h4>Summary Results</h4>
                        {% include "fileUploadOutput.html" %}
                    </div>

                    <div class="step-pane sample-pane alert" data-step="3">
                        <h4>Save Results</h4>
                        <br>

                        <div class="alert alert-info" role="alert">Click on the link(s) below to download a json file
                            representation of the summary results for your uploaded file(s)
                        </div>
                        <br>

                        <div id="resultsList"></div>
                        <br>
                        <br>
                        <div>
                        <input type="button" value="« Back" onClick="$('#myWizard').wizard('previous')" class="btn btn-primary btn-default" style="float:left" id="resultsBackBtn">
                              <a href ="/"  class="btn btn-primary btn-default" style="float: right"> Finish</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery FuelUX dependencies-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//www.fuelcdn.com/fuelux/3.4.0/js/fuelux.min.js"></script>
    <!-- jQuery needed for file upload -->
    <script src="/static/js/file_upload.js"></script>
    <script src="/static/js/fileinput.min.js"></script>


</div>
{% endblock %}
