{% extends "base.html" %}

{% block content %}
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <center><h1>Abstract #<span>{{abstract_id}}</span></h1></center>
        <br>

        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center><h3 class="panel-title">Summary</h3></center>
                    </div>
                    <div class="panel-body">
                        <center>
                            <p>{{ ', '.join(hashtags) }}</p></center>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center><h3 class="panel-title">Original Abstract</h3></center>
                    </div>
                    <div class="panel-body">
                        {% for word in tokenized_text %}
                        {% if word in highlighted_text %}
                        <span style="background-color: #FFFF00">{{word}}</span>
                        {% else %}
                        <span style="background-color: #ffffff">{{word}}</span>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="/delete_abstract/" method="POST">
                            <center>
                             <button class="btn btn-primary btn-lg" type="submit" >Delete Abstract »</button>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}