{% extends "base.html" %}

{% block content %}
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <center>
            <br><br><br>

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Summary</h3>
                        </div>
                        <div class="panel-body">
                            <p>{{ ', '.join(hashtags) }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Original Abstract</h3>
                        </div>
                        <div class="panel-body">
                            {% for word in tokenized_text %}
                            {% if word in highlighted_text %}
                            <span style="background-color: #FFFF00">{{word}}</span>
                            {% else %}
                            <span style="background-color: #ffffff">{{word}}</span>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </center>
    </div>
</div>

{% endblock %}