{% extends "base.html" %}

{% block content %}
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <br>
        <center><h1>Abstract #<span id="abstract_id">{{abstract_id}}</span></h1></center>
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center><h3 class="panel-title">Summary</h3></center>
                    </div>
                    <div class="panel-body">
                        <center>
                            <span id="hashtags"></span>
                            <p>
                                {% for word in hashtags %}
                                <a href="/single_keyword_search/{{word}}">{{word}}</a>
                                {% endfor %}
                            </p>
                        </center>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center><h3 class="panel-title">Original Abstract</h3></center>
                    </div>
                    <div class="panel-body">
                        <div id="original_text"></div>
                        {% for word in tokenized_text %}
                        {% if word in highlighted_text %}
                        <span style="background-color: #FFFF00">{{word}}</span>
                        {% else %}
                        <span style="background-color: #ffffff">{{word}}</span>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="/delete_abstract/" method="POST">
                            <input type="hidden" name="abstract_id" value="{{abstract_id}}" />
                             <button class="btn btn-primary btn-default" type="submit" style="float:right">Delete Abstract »</button>
                        </form>
                        <form><input type="button" value="« Back" onClick="history.go(-1);return true;"  class="btn btn-primary btn-default" style="float:left"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}